


<html>
<style>
    .placeholder {
        width: 250px;
        min-width: 250px;
        height: 250px;
        min-height: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        left: 50%;
        top: 40%;
        margin: -100px 0 0 -125px;
    }
</style>

<div class="placeholder">
    <img class="d-flex p-2" src="https://lh3.googleusercontent.com/HGk4KF-HwOyNKZxI9olliy-va88v6pJwo007ETbh4XesM0Np2jO_e_x3M0Ciq2nIB-AU3W0y29mkrysUuRGs9voLYhbz88oh8POHrVwivfJFso7mIC3ccXQm-2B1bIwtqmZ1CwrL_KYP1Bxu3gHh9SnoSXkx9P1E5TWsP7YAK-0k3wds8ZB-U3f7PllhUZ_Hd9Fukcc3KjeYveklCNb72y8fghJjVzl3UaSz7sFE3pBrW6-pnsP2kY3SwFoXLX4E7ySpL4sMEAUjo5snvc0c3jRrlCF2z5i6i9B_JDvHykrUuqwdhtlmwwERSM8alw76MRoSfzB7vXAsNr_1MV_gQW_5fsDlAikJyqrRmof2dV1jgAudyevZxtQEZcfwzOZFajwsguzHObRgrpmNQ44W4iEeymDjEkq5OgvQx2XKISjKU4vm3X1MQzlC5UbY9Sspgzjm9rG1xIca_MbyRkq_aPcF_66FoLqZd42_CwZoOsuFyFH7bCj6CT4tY6pKEkFmY4Hce1ViDjRPoxkb9qeXsX-nP-kqI58HEo4Amfe4PUmF83q7s9KLdD_zyiBLwSdwcBTdglxg7B6PzNX0cC3yEnDkkFILhxvseYxTZAPsW46R2TXtA9IogAz378WcqT3dLTVG_5F-CUD_o5Ysqq_elT_zFWKf03AQVpq3ouSNIoDhERvIzHapuWrlnnN2=w206-h204-no?authuser=0">
    <form method="post">
        <label for="username">Username:</label> <input type="text" style="border-color:blue" id="username" name="username"><br><br>
        <label for="password">Last Name:</label> <input type="text" style="border-color:blue" id="password" name="password"><br><br>
        <input type="submit" class="btn btn-primary d-flex p-2" value="Submit">
    </form>
</div>
</html>